<p id="notice"><%= notice %></p>

<%= render partial: 'record', locals: {name: "Jason"}%>
<%= render partial: 'record', locals: {name: "Jacob"}%>
<%= render partial: 'record', locals: {name: "David"}%>
