<p id="notice"><%= notice %></p>

<%= render partial: 'record', locals: {name: "Jason"}%>
<hr>
<%= render partial: 'record', locals: {name: "Jacob"}%>
<hr>
<%= render partial: 'record', locals: {name: "David"}%>
