// Place all the styles related to the Gains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.records-table{
  border: 1px solid black;
  margin: 10px 5px 10px 5px;
  th{
    text-decoration: underline;
  }
  td{
    border-right: 1px solid black;
    padding: 10px;
  }
}
h2{
  text-decoration: underline;
}

ul{
  list-style-type: none;
  li{
    font-size: 18px;
    margin: 5px;
  }
}
