<!DOCTYPE html>
<html>
<head>
  <title>Dat OG BB Workout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Get on Dis'</h1>
<small><em>You gotta be big to be big</em> - George Washington</small>
<%= yield %>

</body>
</html>
